<div class="panel panel-primary"
     ng-controller="UserListCtrl as usersCtrl">
    <div class="panel-heading"
         style="font-size:large">
        Users List
    </div>
    <div class="panel-heading"
         style="font-size:large">
        <div class="btn-group">
            <a href="#/Users/Edit/0" class="btn btn-default">
                Add User
            </a>
        </div>
    </div>
    

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Middle Name</td>
                    <td>Last Name</td>
                    <td>Contacts</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in usersCtrl.users">
                    <td>{{user.firstName}}</td>
                    <td>{{user.middleName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <table>
                            <tr ng-repeat="contact in user.contacts">
                                <td>{{contact.value}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="#/Users/Edit/{{user.userId}}" class="btn btn-primary">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
