<div class="panel panel-primary"
     ng-controller="UserListCtrl as usersCtrl">
    <div class="panel-heading"
         style="font-size:large">
        Users List
    </div>
    
    <form class="form-inline" style="margin-top:10px; margin-left:10px">
        <div class="form-group">
            <a href="#/Users/Edit/0" class="btn btn-primary">
                Add User
            </a>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-inline" placeholder="Search" ng-model="usersCtrl.searchString">
        </div>
    </form>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>First Name</td>
                    <td>Middle Name</td>
                    <td>Last Name</td>
                    <td>Contacts</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in usersCtrl.users.slice(((usersCtrl.pagging.currentPage-1)*usersCtrl.pagging.itemsPerPage), ((usersCtrl.pagging.currentPage)*usersCtrl.pagging.itemsPerPage)) | filter: usersCtrl.search">
                    <td>{{user.firstName}}</td>
                    <td>{{user.middleName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <table>
                            <tr ng-repeat="contact in user.contacts">
                                <td>{{contact.value}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="#/Users/Edit/{{user.userId}}" class="btn btn-primary">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination  items-per-page="usersCtrl.pagging.itemsPerPage" total-items="usersCtrl.pagging.totalItems" ng-model="usersCtrl.pagging.currentPage"></ul>
    </div>
</div>

